// Hide element
.hide {
    display: none;
}

// Remove link underline
.no-decor {
    text-decoration: none;
}

// Invert colours
.invert {
    background-color: black;
    color: white;
}

// Center in middle for x axis
.center-x {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

// Center in middle for y axis
.center-y {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

// Remove all outlines
.no-out {
    margin: 0;
    padding: 0;
    border: 0;
}

// Setup body element
.setup {
    position: relative;
    margin: 0;
    min-height: 100vh;
}

// Highlight focused element
.highlight-focus * {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

// Hide the visited link colour
.hide-visited:visited {
    color: #0000EE;
}

// Material Design transition animation
.md-transition {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
